.input {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	border-radius: 10px;
	border: 1px solid var(--gray-200);

	background-color: #fff;
	padding: 10px 20px;

	gap: 10px;

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: var(--gray-800);
}
/* 
:global(.light) .input {
	background-color: #e1e1e1;
	color: #505050;
} */

.sort {
	position: relative;
	width: 30px;
	height: 30px;
}

.arrow {
	transform: rotate(180deg);
	transition: transform 0.2s ease;
}

.opened .arrow {
	transform: rotate(0);
}

.options {
	position: absolute;

	top: calc(100% + 10px);
	right: 0;
	left: 0;

	transform: scaleY(0);
	transform-origin: top center;

	z-index: 1;

	transition: transform 0.2s ease-in-out;

	overflow: hidden;
	background-color: #fff;

	border-radius: 10px;
	border: 1px solid var(--gray-200);

	background-color: #fff;

	gap: 10px;
}
/* 
:global(.light) .options {
	background-color: #e1e1e1;
	color: #505050;
} */

.opened .options {
	transform: scaleY(1);
}

.option {
	cursor: pointer;
	padding: 10px 16px;
	border-bottom: 0.5px solid var(--gray-200);

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--gray-800);
}

.option.selected,
.option:hover {
	background-color: #fff;
}

/* :global(.light) .option.selected,
:global(.light) .option:hover {
	background-color: #cfcfcf;
} */
